.chat-container {
  display: flex;
  justify-content: center;
}

.message-container {
  height: 300px;
  overflow-y: scroll;
  white-space: nowrap;
}

.message-control-container {
  width: 100%;
}

.message-field {
  width: 100%;
}