body {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.message-container {
  flex: 4;
  height: 65vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
}

.message-field {
  flex: 4;
  height: 30%;
  outline: none;
  font-size: 17px;
  padding: 12px 20px;
  opacity: 0.8;
  border-top: 0px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  letter-spacing: 1.5;
  resize: none;
}

.send-button {
  flex: 1;
  outline: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}

.send-button:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray; 
}

.leave-button {
  flex: 1;
  outline: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}

.leave-button:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray; 
}

.message {
  margin-left: 2%;
  font-family: Roboto;
}

.user-list {
  flex: 1;
  height: 65vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
}

.user {
  text-align: center;
  font-family: Roboto;
}

.chat-container {
  display: flex;
}

.header-container {
  display: flex;
  width: 100%;
}

.user-heading {
  flex: 1;
  text-align: center;
  font-family: Roboto;
}

.input-container {
  display: flex;
}

.message-heading {
  flex: 4;
  text-align: center;
  font-family: Roboto;
}

.room-container {
  flex: 1;
  height: 65vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
}

.room-heading {
  flex: 1;
  text-align: center;
  font-family: Roboto;
}

