.message-container {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
}

.message-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.message-field {
  width: 50%;
  height: 30%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 12px 20px;
  opacity: 0.8;
  border: 2px solid black;
  letter-spacing: 1.5;
  resize: none;
}

.send-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.send-button {
  width: 50%;
  height: 7.5vh;
  outline: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}

.send-button:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray; 
}

.send-file-button {
  width: 50%;
  height: 7.5vh;
  outline: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}

.send-file-button:hover {
  cursor: pointer;
  color: white;
  background-color: darkgray; 
}

.message {
  margin-left: 2%;
  font-family: Roboto;
}