body {
  overflow-x: hidden;
}

.input-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 25vw;
}

.rooms-heading {
  font-family: Roboto;
  text-align: center;
}

.room {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
}